
.header{
    display: flex;
    justify-content: space-around;
}
.header__left{
    display: flex;
    justify-content: space-around;
}
.menu{
    list-style: none;
    font-weight: 500;
}
.menu-item{
    display: inline-block;
    margin: 0 8px;
}

.menu-item-color{
    color: #37c38a;
}

.header__right{
    display: flex;

}

/*----------------------------*/

.container{
}

.product-container1 {
    display: flex;
    margin: 20px 50px;
  }

 /* Product container 2*/

 .product-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product {
    width: 23%;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
  }
  .product img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .product-name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .product-desc {
    margin-bottom: 10px;
  }
  .product-price {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: left;
    width: 50%;
    display: inline-block;
  }
  .add-to-cart {
    text-align: right;
    width: 50%;
    display: inline-block;
  }
  .add-to-cart img {
    max-width: 30px;
    cursor: pointer;
  }
  
    