.wrapper{
  margin-left: 150px;
  margin-right: 150px;
}
.header ul, li{
  margin: 0px;
  padding: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
    /* background-color: #37c38a; */
}
.header-left{
    display: flex;
    justify-content: space-around;
}
.menu{
    list-style: none;
    font-weight: 500;
}
.menu-item{
    display: inline-block;
    margin-left: 8px;
}

.menu-item-color{
    color: #37c38a;
}

.header-right{
    display: flex;

}

.header-search{
  border-radius: 5px;
  width: 200px;
}

/*----------------------------*/
.container{
  margin-left: 0px;
  margin-right: 0px;
}

.product-container-1 {
    display: flex;
    margin-top: 50px;
  }
.product-image1{
  width: 100px;
  margin-bottom: 10px;
}
.product-info{
  display: flex;
  flex-direction: column;
}

.product-price-1{
  font-size: 70%;
  color: #767171;
}

.check{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.check-contain{
  margin-left: 6px;
}
.Choose-size{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

.button-product{
  display: flex;
  justify-content: space-between;
}

.add-to-cart-btn,
.checkout-btn{
  width: 48%;
  height: 30px;
}
 /* Product container 2*/

 .product-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-bottom: 50px;
  }
  .product {
    width: 23%;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
  }
  .product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .product-name {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
  }
  .product-desc {
  font-size: 1rem;
  text-align: left;
  margin-bottom: 5px;
  }

  .product-price-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .product-price {
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
  }

  .product-price1 {
    font-weight: bold;
    font-size: 1rem;
    text-align: left;

  }

  .add-to-cart {
    text-align: right;
  }
  .add-to-cart img {
    max-width: 50px;
    cursor: pointer;
  }

  /*Product container 3*/
  .product-container3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.item {
  padding: 10px;
  flex: 1;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #31d795;
}

.item-benefits{
  background-color: #c5e6d9;
}

.divider {
  width: 2px;
  height: 20px;
  background-color: #c5e6d9;
  margin: 0px;
}

/* Benetits container */

.benetits-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
}

.benetits-content {
  flex: 1;
}

.benetits-image {
  flex: 1;
}

.section {
  margin-bottom: 20px;
  width: 420px;
}

.section h2 {
  font-size: 18px;
  font-weight: bold;
}

.section p {
  font-size: 16px;
}

/* Ingredients-container */
.ingredients{
  margin-bottom: 50px;
} 
.ingredients-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ingredients-item {
  width: 30%;
  margin-bottom: 0px;
}

.ingredients-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}
.ingredients-item p{
  width: 90%;
}

.ingredients-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-ingre {
  width: 200px;
  /* height: 40px; */
  padding: 10px 20px;
  background-color: #fff;
  color: #31d795;
  border: 2px solid #31d795;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* how-to-use */

.how-to-use {
  position: relative;
  text-align: left;
  margin-bottom: 50px;
}

.image-video {
  display: block;
  margin: auto;
  width: 100%;
}

.watch-video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(16, 14, 14);
  color: white;
  font-size: 20px;
  height: 50px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Review-container */
.review-container{
  display: flex;
  flex-direction: row;

}

/*Reviews*/

.reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: space-between; */
  font-size: 18px;
  font-weight: bold;
  color: #333;
  /* text-align: center; */
  margin: 20px;
}

.reviews-total{
  display:flex;
  justify-content: space-between;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.star {
  font-size: 25px;
  color: gold;
}

.star-half {
  font-size: 25px;
  color: gold;
  position: relative;
}

.star-half:before {
  content: '\2605';
  position: absolute;
  left: 0;
  color: #ccc;
}

.ratings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.stars-label {
  margin-right: 10px;
}

.progress-bar {
  width: 70%;
  height: 20px;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 10px;
}

.progress {
  height: 100%;
  background-color: gold;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.percentage {
  margin-left: 10px;
  font-size: 14px;
  font-weight: normal;
  color: #666;
}

.total-reviews {
  font-size: 14px;
  color: #666;
  text-align: center;
}

  /* Write a review */

  .review-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.review-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
}

.review-button {
  /* display: flex;
  align-items: center; */
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.review-button i {
  margin-right: 10px;
}

.review-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.review {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.review-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.review-details {
  display: flex;
  flex-direction: column;
}

.review-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.review-date {
  font-size: 12px;
  color: #666;
}

.review-rating {
  display: flex;
  align-items: center;
}

.review-rating i {
  font-size: 16px;
  color: #FFD700;
  margin-right: 5px;
}

.review-text p {
  margin-bottom: 0;
}

.review-pagination {
  display: flex;
  justify-content: center;
}

.review-pagination ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.review-pagination li {
  margin-right: 10px;
}

.review-pagination li:last-child {
  margin-right: 0;
}

.review-pagination a {
  display: block;
  padding: 5px 10px;
  font-size: 16px;
  color: #666;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
}

.review-pagination a:hover {
  background-color: #f2f2f2;
}



  
    