.wrapper{
  margin-left: 150px;
  margin-right: 150px;
}
.header ul, li{
  margin: 0px;
  padding: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
    /* background-color: #37c38a; */
}
.header-left{
    display: flex;
    justify-content: space-around;
}
.menu{
    list-style: none;
    font-weight: 500;
}
.menu-item{
    display: inline-block;
    margin-left: 8px;
}

.menu-item-color{
    color: #37c38a;
}

.header-right{
    display: flex;

}

.header-search{
  border-radius: 5px;
  width: 200px;
}

/*----------------------------*/
.container{
  margin-left: 0px;
  margin-right: 0px;
}

.product-container-1 {
    display: flex;
    margin-top: 50px;
  }
.product-image1{
  width: 100px;
  margin-bottom: 10px;
}
.product-info{
  display: flex;
  flex-direction: column;
}

.product-price-1{
  font-size: 70%;
  color: #767171;
}

.check{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.check-contain{
  margin-left: 6px;
}
.Choose-size{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

.button-product{
  display: flex;
  justify-content: space-between;
}

.add-to-cart-btn,
.checkout-btn{
  width: 48%;
  height: 30px;
}
 /* Product container 2*/

 .product-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
  }
  .product {
    width: 23%;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
  }
  .product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .product-name {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
  }
  .product-desc {
  font-size: 1rem;
  text-align: left;
  margin-bottom: 5px;
  }

  .product-price-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .product-price {
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
  }

  .product-price1 {
    font-weight: bold;
    font-size: 1rem;
    text-align: left;

  }

  .add-to-cart {
    text-align: right;
  }
  .add-to-cart img {
    max-width: 50px;
    cursor: pointer;
  }

  
    