#wrapper {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
}

#center {
    width: 910px;
    background-color: bisque;
    padding: 20px 30px;
}

.center-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-time{
    width: 100px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #f32055;
    border-radius: 20px;
    color: #f32055;

}

.dot-time{
    font-size: 30px;
    
}

.center-info{
    display: flex;
    align-items: center;
}
.internal{
    display: flex;
    align-items: center;
    background-color: #f32055;
    padding: 5px 10px;
    border-radius: 20px;
}

.internal img{
    padding: 5px;
    background-color: #fff;
    border-radius: 100%;
    width: 10px;
    margin-right: 5px;
}
.date{
    display: flex;
    align-items: center;
    margin: 0px 10px;
}
.date img{
    width: 15px;
    margin-right: 5px;
}
.middle-line{
    padding: 1px;
    height: 10px;
    background-color: #554b4b;
    margin: 0px 10px;
}
#right {
    width: 440px;
    background-color: aqua;
    /* margin: 20px 30px; */
}



#left {
    width: 90px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left_above {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#below {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item {
    width: 32px;
    margin-top: 50px;
}

#setting {
    margin-top: 36px;
}